version: '3'
services:
  mysql:
    image: mysql:5.7
    volumes:
      - ./mysql-dump:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=testing
    ports:
      - "3306:3306"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"